@mixin styleText($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}

@mixin reponsive($screen) {
  @if(map-has-key($map: $breakpoints, $key: $screen)) {
    // $screen hợp lệ, có trong mảng breakpoints
    // Lấy ra giá trị của biến screen trong mảng breakpoints
    $width: map-get($map: $breakpoints, $key: $screen);

    @media (min-width: $width) {
      @content;
    };
  } @else {
    @warn "invalid screen"
  }
}